/* region imports */

@import 'generic-1.0';

@import url(css/normalize-1.1.0.css);
@import url(css/bootstrap-2.3.1/bootstrap.css);
@import url(css/bootstrap-2.3.1/bootstrap-responsive.css);

/* endregion */

// region constants

@color1: #5a5a5a;
@color2: #1b1b1b;
@shadowColor: rgba(0, 0, 0, .25);
@imagePath: '../image/';
@defaultSpace: 40px;

// endregion

/* region stylesheets */

body.website {
    
    /* region global */

    /* Padding below the footer and lighter body text */
    padding-bottom: @defaultSpace;
    color: @color1;
    background-color: @color2;

        /* region icons */

    [class^="icon-"],
    [class*=" icon-"] {
        background-image: url('@{imagePath}bootstrap-2.3.1/glyphicons-halflings.png');
    }
    .icon-white,
    .nav-pills > .active > a > [class^="icon-"],
    .nav-pills > .active > a > [class*=" icon-"],
    .nav-list > .active > a > [class^="icon-"],
    .nav-list > .active > a > [class*=" icon-"],
    .navbar-inverse .nav > .active > a > [class^="icon-"],
    .navbar-inverse .nav > .active > a > [class*=" icon-"],
    .dropdown-menu > li > a:hover > [class^="icon-"],
    .dropdown-menu > li > a:focus > [class^="icon-"],
    .dropdown-menu > li > a:hover > [class*=" icon-"],
    .dropdown-menu > li > a:focus > [class*=" icon-"],
    .dropdown-menu > .active > a > [class^="icon-"],
    .dropdown-menu > .active > a > [class*=" icon-"],
    .dropdown-submenu:hover > a > [class^="icon-"],
    .dropdown-submenu:focus > a > [class^="icon-"],
    .dropdown-submenu:hover > a > [class*=" icon-"],
    .dropdown-submenu:focus > a > [class*=" icon-"] {
        background-image: url('@{imagePath}bootstrap-2.3.1/glyphicons-halflings-white.png');
    }

        /* endregion */

        /* region buttons */

    a[href="#top"] {
        position: fixed;
        z-index: 4;
        bottom: 48px;
        right: 5%;
    }

        /* endregion */

    /* endregion */
    
    /* region window loading cover */
    
    div.window-loading-cover {
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;
        
        div {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: @color2;
        }
    }
    
    /* endregion */

    /* region navigation bar */

    /*
        Special class on .container surrounding .navbar, used for positioning
        it into place.
    */
    div.navbar-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        margin-top: 20px;
        /*
            Negative margin to pull up carousel. 90px is roughly margins and 
            height of navbar.
        */
        margin-bottom: -90px;

        /* Remove border and change up box shadow for more contrast */
        div.navbar div.navbar-inner {
            border: 0;
            #generic > .shadow(0, 2px, 10px, @shadowColor);
        }
        /* Downsize the brand/project name a bit */
        div.navbar div.brand {
            /* Increase vertical padding to match navbar links */
            padding: 14px 20px 16px;
            font-size: 16px;
            font-weight: bold;
            text-shadow: 0 -1px 0 rgba(0,0,0,.5);
        }
        /* Navbar links: increase padding for taller navbar */
        div.navbar div.nav > li > a {
            padding: 15px 20px;
        }
        /* Offset the responsive button for proper vertical alignment */
        div.navbar button.btn-navbar {
            margin-top: 10px;
        }
    }

    /* endregion */

    /* region carousel */

    /* Carousel base class */
    div.carousel {
        margin-bottom: 60px;

        div.container {
            position: relative;
            z-index: 2;
        }
        div.container.content {
            padding: 20px;
            margin-top: 150px;
            font-size: 18px;
            color: #ffffff;
        }
        div.item {
            height: 1000px;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 835px;
        }
        div.carousel-caption {
            background-color: transparent;
            position: static;
            max-width: 600px;
            padding: 0 20px;
            margin-top: 200px;

            p.phone-number {
                margin-top: 10px;
                span {
                    color: #5a5a5a;
                }
            }
            h1, div.lead {
                margin: 0;
                line-height: 1.25;
                color: #fff;
                text-shadow: 0 1px 1px rgba(0,0,0,.4);
            }
            a img {
                position: initial;
                min-width: 32px;
                min-height: 32px;
                width: 32px;
                height: 32px;
            }
            .btn {
                margin-top: 10px;
                background-color: @color1;
                #generic > .gradient(@color1, @color2);
            }
        }
    }

    /* endregion */

    /* region responsive css */

    @media (max-width: 979px) {
        div.container.navbar-wrapper {
            margin-bottom: 0;
            width: auto;
        }
        div.navbar-inner {
            border-radius: 0;
            margin: -20px 0;
        }
        div.carousel {
            .item {
                height: 500px;
            }
            img {
                width: auto;
                height: 500px;
            }
        }
        div.featurette {
            height: auto;
            padding: 0;
        }
        img.featurette-image.pull-left,
        img.featurette-image.pull-right {
            display: block;
            float: none;
            max-width: 40%;
            margin: 0 auto 20px;
        }
    }
    @media (max-width: 767px) {
        div.navbar-wrapper div.navbar div.navbar-inner {
            margin: -20px;
            
            a.brand {
                margin-left: 20px;
            }
            button.btn.btn-navbar {
                margin-right: 20px;
                margin-top: 5px;
            }
        }
        div.carousel {
            margin-left: -20px;
            margin-right: -20px;

            .item {
                height: 300px;
            }
            img {
                height: 300px;
            }
            div.carousel-caption {
                width: 65%;
                padding: 0 70px;
                margin-top: 100px;

                h1 {
                    font-size: 30px;
                }
                .lead, .btn {
                    font-size: 18px;
                }
            }
        }
        div.marketing .span4 + .span4 {
            margin-top: 40px;
        }
        .featurette-heading {
            font-size: 30px;
        }
        .featurette .lead {
            font-size: 18px;
            line-height: 1.5;
        }
    }

    /* endregion */

}

/* endregion */
