//!/usr/bin/env lessc
// -*- coding: utf-8 -*-

/* region header

Copyright Torben Sickert 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. see http://creativecommons.org/licenses/by/3.0/deed.de
*/

@import 'website-1.0';

/* endregion */

// region constants

@defaultColor: #222222;
@fontColor: #5a5a5a;
@backgroundColor: #f2f2f2;
@linkColor: #ff8888;
@linkHoverColor: #ff6666;
@menuColor: #666;
@menuHoverColor: #444;
@shadowColor: rgba(0, 0, 0, .25);

@footerMarginInPixel: 30px;
@minimumContentHeightInPixel: 300px;
@topMargin: 65px;

// endregion

/* region cascading style sheets */

body.home-page {

    /* region global */

    #website > #bootstrap;
    #website;
    color: @fontColor;
    background-color: @defaultColor;
    font-size: 16px;
    overflow-y: scroll;

        /* region headline */

    h1, h2, h3, h4, h5, h6 {
        font-family: @fontFamilyCondensed;
    }

        /* endregion */

        /* region link */

    a, a:visited, a:focus {
        color: @linkColor;
        font-size: 1.2em;
    }
    a:hover { color: @linkHoverColor; }
    /* Scroll to top button. */
    > a[href="#top"] {
        position: fixed;
        z-index: 1;
        bottom: @footerMarginInPixel;
        right: 60px;
    }
    /* Show phone links as normal text. */
    a[href^="tel:"] { color: @defaultColor; }
    a[href^="tel:"]:hover { color: @defaultColor; }

        /* endregion */

        /* region list */

    ul, ol { margin-top: 15px; }

        /* endregion */

    /*
        Makes space before each anchor to have enough space for a fixed
        positioned header menu.
    */
    h1:before {
        content: "";
        display: block;
        height: @topMargin;
    }
    /* Shows the current dimension mode. */
    > div.navbar-wrapper > div.container > div.navbar.navbar-inverse
    > div.container > div.navbar-header > a.navbar-brand
    > span.dimension-indicator { font-size: 0.7em; }
    strong { font-weight: bold; }

        /* region bootstrap resets */

    .navbar-inverse .navbar-collapse {
        border: 0;
        box-shadow: none;
    }
    p.lead {
        font-weight: initial;
    }
    div.navbar-collapse.collapse > ul {
        > li > a {
            text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        > li.active > a {
            background: 0;
            box-shadow: none;
        }
    }

        /* endregion */

    /* endregion */

    /* region navigation bar */

    /* Normal Wrapper for the main navigation bar. Scrolls with viewport. */
    > div.navbar-wrapper {
        #generic > .opacity(0.95);

        position: fixed;
        z-index: 1;

        div.navbar.navbar-inverse {
            border: 0;

            div.navbar-header > a.navbar-brand {
                font-size: 1.2em;
            }
        }
    }

    /* endregion */

    /* region carousel */

    /* Main section slider wrapper. */
    > div.carousel.slide {
        background-color: @backgroundColor;
        overflow: hidden;
        position: relative;
        min-height: @minimumContentHeightInPixel;

        /* Wraps the visible area from whole wide slider wrapper. */
        > div.carousel-inner {
            overflow-y: visible;

            /* Contains each section content. */
            > div.item {
                overflow-y: visible;
                float: left;
                width: 100%;
                /*
                    Set a default content height. Could by vary depending on
                    currently activated section.
                */
                min-height: @minimumContentHeightInPixel;
                /*
                    Disable bootstraps startup effect and overwrite with swipe
                    preferred effect properties.
                */
                display: inline;
                -webkit-transition: 1000ms;
                        transition: 1000ms;

                /*
                    Position section dependent background image absolute to
                    fill out the whole viewport.
                */
                > div[class^="carousel-image-"] {
                    top: 0;
                    left: 0;
                    min-width: 100%;
                    min-height: @minimumContentHeightInPixel;

                    /* Contains each section text content. */
                    > div.container {
                        z-index: 0;
                        color: @defaultColor;
                        text-shadow: none;
                        text-align: center;

                        > dl.dl-horizontal > dd { text-align: left; }
                        > a[href^="tel:"] {
                            color: @defaultColor;
                            display: block;
                            font-size: 1.5em;
                            line-height: 1.4;
                            margin-bottom: 10px;
                        }
                        > div.container {
                            border: 1px solid red;
                            width: 800px;
                            text-align: left;

                            > div { border: 1px solid blue; }
                        }
                    }
                }
            }
        }
    }

    /* endregion */

    /* region section */

        /* region contact */

    /* Show big dark social media icons. */
    > div.carousel.slide > div.carousel-inner > div.item.contact
    > div[class^="carousel-image-"] > div.container {
        /* NOTE: Should be synchronized with the social icon font styles. */
        a.glyphicon.glyphicon-globe {
            color: #1d1d1b;
            display: inline;
            display: inline-block;
            padding-left: 30px;
            position: relative;
            text-decoration: none;
            vertical-align: middle;
            zoom: 1;
        }
        a.glyphicon.glyphicon-globe:before {
            display: inline;
            display: inline-block;
            font-size: 24px/1em;
            font-style: normal;
            font-weight: normal;
            left: 0;
            /* NOTE: "-1px" was initially "0". */
            margin: -1px 5px 0 0;
            position: absolute;
            text-transform: none;
            top: 0;
            vertical-align: middle;
            webkit-font-smoothing: antialiased;
            zoom: 1;
        }
        a.glyphicon-social, a.glyphicon.glyphicon-globe {
            color: @defaultColor;
            letter-spacing: 10px;
            height: 26px;
        }
        a.glyphicon-social:hover, a.glyphicon.glyphicon-globe:hover {
            color: @linkHoverColor !important;
        }
    }

        /* endregion */

        /* region about this web site */

    /* Wraps the legal notice content. */
    div.about-this-website {
        min-height: @minimumContentHeightInPixel;
        background-color: @backgroundColor;
        top: 0;
        left: 0;
        width: 100%;
    }

        /* endregion */

    /* endregion */

    /* region footer */

    /* Centered footer */
    > div.footer {
        width: 100%;

        > footer {
            text-align: center;

            > p {
                padding-top: @footerMarginInPixel;
                padding-bottom: @footerMarginInPixel;
                margin: 0;
            }
        }
    }

    /* endregion

    /* region responsive */

        /* region extra extra extra small */

            /* region global */

                /* region buttons */

    /* Smaller devices have usually a touch interface for scrolling. */
    a[href="#top"] {
        visibility: hidden;
    }

                /* endregion */

            /* endregion */

            /* region navigation bar */

    /* Normal Wrapper for the main navigation bar. Scrolls with viewport. */
    div.navbar-wrapper {
        top: 0;
        width: 100%;

        > div.container {
            padding: 0;

            > div.navbar.navbar-inverse {
                margin-bottom: 0px;

                > div.container {
                    > div.navbar-header {
                        > a.navbar-brand {
                            max-width: 219px;
                            height: 50px;

                            > span.dimension-indicator { visibility: hidden; }
                        }
                        /* Position language link. */
                        > a[href^="#lang-"] {
                            position: absolute;
                            top: 10px;
                            right: 70px;
                        }
                    }
                    > div.navbar-collapse {
                        > div.navbar-highlighter { visibility: hidden; }
                        > ul.nav.navbar-nav {
                            margin-top: 10px;
                            margin-bottom: 10px;

                            > li.active > a:hover,
                            > li.active > a:focus,
                            > li.active > a {
                                background-color: @shadowColor;
                            }
                        }
                    }
                }
            }
        }
    }

            /* endregion */

            /* region carousel */

    /* Define main content size. */
    > div.carousel.slide > div.carousel-inner > div.item {
        /* Don't show any background image in smartphone mode. */
        div.backstretch { display: none; }
        > div[class^="carousel-image-"] > div.container {
            padding-bottom: 15px;
            max-width: 540px;

            > h1 { font-size: 2.5em; }
            > p {
                font-size: 1.2em;
                line-height: 1.4;
            }
        }
    }

            /* endregion */

            /* region section */

                /* region about */

    > div.carousel.slide > div.carousel-inner > div.item
    > div[class^="carousel-image-about"] > div.container {
        padding-top: 90px;

        > h1#about { margin-top: -@topMargin;}
        > p.lead > a:first-child { margin-top: 35px; }
    }

                /* endregion */

                /* region about this web site */

    > div.about-this-website {
        color: @defaultColor;
        padding-bottom: 15px;

        /* Wraps the text content, positions space around them. */
        > div.container { margin-left: 10%; }
        > div[class^="carousel-image-"] > div.container > h1 {
            font-size: 2.5em;
        }
    }

                /* endregion */

            /* endregion */

        /* endregion */

        /* region extra extra small */

    @media (min-width: @minimumExtraExtraSmallWidthInPixel) {

            /* region navigation bar */

        /* Show current dimension mode in indicator dom node. */
        > div.navbar-wrapper > div.container > div.navbar.navbar-inverse
        > div.container > div.navbar-header > a.navbar-brand {
            max-width: 238px;

            > span.dimension-indicator {
                visibility: visible;
            }
        }

            /* endregion */

            /* region carousel */

        > div.carousel.slide > div.carousel-inner > div.item
        > div[class^="carousel-image-"] > div.container {
            padding-bottom: 25px;
        }

            /* endregion */

            /* region section */

                /* region about this website */

        > div.about-this-website { padding-bottom: 25px; }

                /* endregion */

                /* region about */

        > div.carousel.slide > div.carousel-inner > div.item
        > div[class^="carousel-image-about"] > div.container > p.lead
        > a:first-child { margin-top: 50px; }

                /* endregion */

            /* endregion */

        /* endregion */

        /* region small */

        @media (min-width: @minimumSmallWidthInPixel) {

            /* region global */

                /* region buttons */

            /* Bigger devices get a scroll top button. */
            > a[href="#top"] { visibility: visible; }

                /* endregion */

            /* endregion */

            /* region navigation bar */

            /*
                Normal Wrapper for the main navigation bar. Scrolls with
                viewport.
            */
            > div.navbar-wrapper > div.container {
                max-width: 550px;

                > div.navbar.navbar-inverse {
                    background: @backgroundColor;

                    > div.container {
                        /* Position language link. */
                        > div.navbar-header {
                            > button.navbar-toggle {
                                display: none !important;
                            }
                            > a[href^="#lang-"] {
                                position: absolute;
                                top: 12px;
                                right: 10px;
                            }
                            > a.navbar-brand {
                                color: @menuColor;
                                padding-right: 30px;
                            }
                            > a.navbar-brand:hover,
                            > a.navbar-brand:focus { color: @menuHoverColor; }
                        }
                        > div.navbar-collapse {
                            display: inline;

                            > div.navbar-highlighter {
                                position: absolute;
                                left: 177px;
                                visibility: visible;
                                border-top: 2px solid @linkColor;
                                height: 50px;
                                width: 124px;
                                background-color: #eee;
                            }
                            > ul.nav.navbar-nav {
                                margin: 0;

                                /*
                                    Bring menu items to same height as
                                    navigation bar branding.
                                */
                                > li {
                                    > a {
                                        line-height: 22px;
                                        color: @menuColor;
                                    }
                                    > a:hover, a:focus {
                                        background-color: transparent;
                                        color: @menuHoverColor;
                                    }
                                }
                                > li.active > a:hover,
                                > li.active > a:focus,
                                > li.active > a {
                                    background-color: transparent;
                                    color: @menuHoverColor;
                                }
                            }
                        }
                    }
                }
            }

            /* endregion */

            /* region carousel */

            > div.carousel.slide > div.carousel-inner > div.item {
                /* Show any background image on higher resolutions. */
                > div.backstretch { display: block; }
                /* Bump up size of carousel content. */
                > div[class^="carousel-image-"] {
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    background-position: center;

                    > div.container {
                        padding-top: 0;
                        padding-bottom: 50px;
                        max-width: 600px;

                        > h1 { font-size: 4.5em; }
                        > p.lead {
                            font-size: 1.5em;
                            line-height: 1.4;
                            margin-top: 10px;
                        }
                    }
                }
                /* Show background images on bigger devices. */
                > div.carousel-image-about {
                    background-image: url('@{imagePath}carousel/about.jpg');
                }
            }

            /* endregion */

            /* region section */

            > div.about-this-website {
                padding-bottom: 50px;

                > div[class^="carousel-image-"] > div.container {
                    width: 608px;

                    > h1 { font-size: 4.5em; }
                }
            }
            > div.carousel.slide > div.carousel-inner > div.item {
                > div[class="carousel-image-about"] > div.container {
                    position: relative;
                    margin-top: @topMargin;

                    > p.lead {
                        position: absolute;
                        right: -38px;
                        width: 300px;
                        text-align: right;

                        > a {
                            display: block;
                            margin-top: 30px;
                        }
                    }
                }
                > div[class="carousel-image-work"] > div.container > p {
                    margin-top: 25px;
                }
            }

            /* endregion */

        /* endregion */

        /* region medium */

            @media (min-width: @minimumMediumWidthInPixel) {

            /* region navigation bar */

                /*
                    Normal Wrapper for the main navigation bar. Scrolls with
                    viewport.
                */
                > div.navbar-wrapper > div.container { max-width: 600px; }

            /* endregion */

            /* region carousel */

                > div.carousel.slide > div.carousel-inner > div.item {
                    > div[class^="carousel-image-"] > div.container {
                        max-width: 810px;

                        > dl.dl-horizontal {
                            > dt { width: 286px; }
                            > dd {
                                margin-top: 15px;
                                margin-left: 335px;
                            }
                        }
                    }
                    > div[class="carousel-image-about"] > div.container 
                    > p.lead { right: 0; }
                }

            /* endregion */

            }
        }
    }

        /* endregion */

    /* endregion */

}

/* endregion */

// region vim modline

// vim: set tabstop=4 shiftwidth=4 expandtab:
// vim: foldmethod=marker foldmarker=region,endregion:

// endregion
