//!/usr/bin/env lessc
// -*- coding: utf-8 -*-

/* region header

Copyright Torben Sickert 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. see http://creativecommons.org/licenses/by/3.0/deed.de
*/

@import '../cascadingStyleSheet/open-sans.css';
@import '../cascadingStyleSheet/open-sans-condensed.css';

    /* region font */

@fontPath: '../font/';
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('@{fontPath}glyphicons-halflings/glyphicons-halflings-regular.eot');
    src: url('@{fontPath}glyphicons-halflings/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-regular.woff') format('woff'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-regular.ttf') format('truetype'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
    font-family: 'Glyphicons Social Regular';
    src: url('@{fontPath}glyphicons-halflings/glyphicons-halflings-social-regular.eot');
    src: url('@{fontPath}glyphicons-halflings/glyphicons-halflings-social-regular.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-social-regular.woff') format('woff'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-social-regular.ttf') format('truetype'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-social-regular.svg#glyphicons_socialregular') format('svg');
}
@import '../cascadingStyleSheet/glyphicons-social-1.8.css';

    /* endregion */

@import 'generic-1.0';

/* endregion */

// region constants

@imagePath: '../image/';

    // region smartphone dimension

@minimumExtraExtraSmallWidthInPixel: 360px;
@minimumExtraSmallWidthInPixel: 500px;

    // endregion

    // region bootstrap default

@minimumSmallWidthInPixel: 768px;
@minimumMediumWidthInPixel: 992px;
@minimumLargeWidthInPixel: 1200px;

    // endregion

@backgroundColor: #ffffff;

@fontFamily: 'Open Sans', open-sans, sans-serif;
@fontFamilyCondensed: 'Open Sans Condensed', open-sans-condensed, sans-serif;

// endregion

#website() {
    #bootstrap() {
        @import (less) '../cascadingStyleSheet/bootstrap-3.2.0.css';
    }
    margin: 0;
    font-family: @fontFamily;
    font-size: 14px;

    // region headline

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: @fontFamily;
    }
    h1, h2 {
        font-family: @fontFamilyCondensed;
        font-weight: normal;
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }

    // endregion

    // region link

    a, a:hover, a:focus, a:visited {
        outline: none;
        text-decoration: none;
    }

    // endregion

}

/* region classes */

/*
    NOTE: Classes should be usable for the body itself and their for have to be
    outside.
*/
/* Hide JavaScript dependent dom nodes. */
.tools-hidden-on-javascript-enabled { display: initial; }
/* Show JavaScript dependent dom nodes. */
.tools-visible-on-javascript-enabled { display: none; }
/* Disables and hides a scrolling and scrollbar. */
.tools-disable-scrolling {
    height: 100% !important;
    overflow: hidden !important;
}
// Overlay the whole page till everything is loaded completely.
div.website-window-loading-cover {
    background-color: @backgroundColor;
    /* always cover full viewport */
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;

    // Positioning the loading spinner in center in the loading
    // overlay.
    > div {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

/* endregion */

// region vim modline

// vim: set tabstop=4 shiftwidth=4 expandtab:
// vim: foldmethod=marker foldmarker=region,endregion:

// endregion
