//!/usr/bin/env lessc
// -*- coding: utf-8 -*-

/* region header

Copyright Torben Sickert 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. see http://creativecommons.org/licenses/by/3.0/deed.de
*/

@import url(../cascadingStyleSheet/bootstrap-3.1.0.css);
@import url(../cascadingStyleSheet/open-sans.css);
@import url(../cascadingStyleSheet/open-sans-condensed.css);

/* region font */

@fontPath: '../font/';
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('@{fontPath}glyphicons-halflings/glyphicons-halflings-regular.eot');
    src: url('@{fontPath}glyphicons-halflings/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-regular.woff') format('woff'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-regular.ttf') format('truetype'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@import 'bootstrap-glyphicons-1.0.0';
@font-face {
    font-family: 'Glyphicons Social Regular';
    src: url('@{fontPath}glyphicons-halflings/glyphicons-halflings-social-regular.eot');
    src: url('@{fontPath}glyphicons-halflings/glyphicons-halflings-social-regular.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-social-regular.woff') format('woff'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-social-regular.ttf') format('truetype'),
         url('@{fontPath}glyphicons-halflings/glyphicons-halflings-social-regular.svg#glyphicons_socialregular') format('svg');
}
@import 'glyphicons-social-1.8';

/* endregion */

@import 'generic-1.0';

// endregion

// region constants

@imagePath: '../image/';

@minimumSmallWidthInPixel: 768px;
@minimumMediumWidthInPixel: 992px;
@minimumLargeWidthInPixel: 1200px;

@color1: #1b1b1b;
@color2: #1b1b1b;

@fontFamily: 'Open Sans', open-sans-custom, sans-serif;
@fontFamilyCondensed: 'Open Sans Condensed', open-sans-condensed, sans-serif;

// endregion

/* region global */

body {
    font-family: @fontFamily;
    font-weight: 100;

    /* region headline */

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: @fontFamily;
    }
    h1, h2 {
        font-family: @fontFamilyCondensed;
        font-weight: normal;
        font-size: 3em;
    }

    /* endregion */

    /* region link */

    a { outline: none; }
    a:hover {
        outline: none;
        text-decoration: none;
    }

    /* endregion */

}

/* region classes */

/*
    NOTE: Classes should ne usable for the body itself and their for have to be
    outside.
*/
// Hide JavaScript dependent dom nodes.
.hidden-on-javascript-enabled { display: initial; }
// Show JavaScript dependent dom nodes.
.visible-on-javascript-enabled { display: none; }
// Disables and hides a scrolling and scrollbar.
.disable-scrolling {
    height: 100% !important;
    overflow: hidden !important;
}

    /* endregion */

/* endregion */

// region vim modline

// vim: set tabstop=4 shiftwidth=4 expandtab:
// vim: foldmethod=marker foldmarker=region,endregion:

// endregion
