/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/* region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion */
@import 'bootstrap';
@import 'website-utilities/index.css';

:root {
    /* region constants */
    /** region color */
    --default-color: #222;
    --font-color: #5a5a5a;
    --background-color: #f2f2f2;
    --link-color: #f88;
    --link-hover-color: #f66;
    --menu-color: #666;
    --menu-hover-color: #444;
    --shadow-color: rgba(0, 0, 0, 0.25);
    /** endregion */
    /** region space */
    --footer-margin-in-pixel: 30px;
    --minimum-content-height-in-pixel: 300px;
    --top-margin: 65px;
    /** endregion */
    /* endregion */
}
/* region style sheets */
html,
body { font-size: 16px; }

.home-page {
    /* region global */
    @apply --website;

    color: var(--font-color);
    background-color: var(--default-color);
    overflow-y: scroll;
    /** region headline */
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 { font-family: var(--font-family-condensed); }
    /** endregion */
    /** region link */
    & a,
    & a:visited,
    & a:focus {
        color: var(--link-color);
        font-size: 1.2rem;
        text-decoration: none !important;

        &:hover { color: var(--link-hover-color); }
        /* Show phone links as normal text. */
        /* Scroll to top button. */
        &[href="#top"] {
            position: fixed;
            z-index: 1;
            bottom: var(--footer-margin-in-pixel);
            right: 60px;
        }
    }
    /** endregion */
    /** region list */
    & ul,
    & ol { margin-top: 15px; }
    /** endregion */
    /*
        Makes space before each anchor to have enough space for a fixed
        positioned header menu.
    */
    & h1::before {
        content: "";
        display: block;
        height: var(--top-margin);
    }
    /* Shows the current dimension mode. */
    & span.dimension-indicator { font-size: 0.7em; }

    & strong { font-weight: bold; }
    /** region bootstrap resets */
    & .navbar-inverse .navbar-collapse {
        border: 0;
        box-shadow: none;
    }

    & p.lead { font-weight: initial; }

    & div.navbar-collapse.collapse ul li {
        & > a { text-shadow: 0 0 0 rgba(0, 0, 0, 0); }

        &.active > a {
            background: 0;
            box-shadow: none;
        }
    }
    /** endregion */
    /* endregion */
    /* region navigation bar */
    /* Normal Wrapper for the main navigation bar. Scrolls with viewport. */
    & header.navbar-wrapper {
        opacity: 0.95;
        position: fixed;
        z-index: 1;

        & div.navbar.navbar-inverse {
            border: 0;

            & div.navbar-header > a.navbar-brand {
                color: var(--menu-color);
                font-size: 1.2em;

                &:hover,
                &:focus { color: var(--menu-hover-color); }
            }
        }
    }
    /* endregion */
    /* region carousel */
    /* Main section slider wrapper. */
    & section.carousel.slide {
        background-color: var(--background-color);
        overflow: hidden;
        position: relative;
        min-height: var(--minimum-content-height-in-pixel);
        /* Wraps the visible area from whole wide slider wrapper. */
        & div.carousel-inner {
            overflow-y: visible;
            /* Contains each section content. */
            & div.item {
                display: inline;
                overflow-y: visible;
                float: left;
                width: 100%;
                /*
                    Set a default content height. Could by vary depending on
                    currently activated section.
                */
                min-height: var(--minimum-content-height-in-pixel);
                /*
                    Position section dependent background image absolute to
                    fill out the whole viewport.
                */
                & div[class^="carousel-image-"] {
                    top: 0;
                    left: 0;
                    min-width: 100%;
                    min-height: var(--minimum-content-height-in-pixel);
                    /* Contains each section text content. */
                    & > div.container {
                        z-index: 0;
                        text-shadow: none;
                        text-align: center;

                        & dl.dl-horizontal > dd { text-align: left; }

                        & a[href^="tel:"] {
                            display: block;
                            font-size: 1.5em;
                            line-height: 1.4;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    /* endregion */
    /* region section */
    /** region contact */
    /* Show big dark social media icons. */
    & section.carousel.slide div.carousel-inner div.item.contact div[class^="carousel-image-"] > div.container {
        /* NOTE: Should be synchronized with the social icon font styles. */
        & a.glyphicon {
            &.glyphicon-globe {
                color: var(--font-color);
                letter-spacing: 10px;
                height: 26px;
                display: inline-block;
                padding-left: 30px;
                position: relative;
                text-decoration: none;
                vertical-align: middle;
                zoom: 1;

                &::before {
                    display: inline-block;
                    font-size: 24px/1em;
                    font-style: normal;
                    font-weight: normal;
                    left: 0;
                    /* NOTE: "-1px" was initially "0". */
                    margin: -1px 5px 0 0;
                    position: absolute;
                    text-transform: none;
                    top: 0;
                }

                &:hover { color: var(--link-hover-color) !important; }
            }

            &-social {
                color: var(--font-color);
                letter-spacing: 10px;
                height: 26px;

                &:hover { color: var(--link-hover-color) !important; }
            }
        }
    }
    /** endregion */
    /** region about this web site */
    /* Wraps the legal notice content. */
    & section.about-this-website {
        min-height: var(--minimum-content-height-in-pixel);
        background-color: var(--background-color);
        top: 0;
        left: 0;
        width: 100%;
    }
    /** endregion */
    /* endregion */
    /* region footer */
    /* Centered footer */
    & div.footer {
        width: 100%;

        & footer {
            text-align: center;

            & p {
                padding-top: var(--footer-margin-in-pixel);
                padding-bottom: var(--footer-margin-in-pixel);
                margin: 0;
            }
        }
    }
    /* endregion */
    /* region responsive */
    /** region extra extra extra small */
    /* Smaller devices have usually a touch interface for scrolling. */
    & a[href="#top"] { visibility: hidden; }
    /*** region navigation bar */
    /* Normal Wrapper for the main navigation bar. Scrolls with viewport. */
    & header.navbar-wrapper {
        top: 0;
        width: 100%;

        & > div.container {
            padding: 0;

            & div.navbar.navbar-inverse {
                margin-bottom: 0;

                & > div.container {
                    & div.navbar-header {
                        margin-left: -15px;

                        & a.navbar-brand {
                            max-width: 219px;
                            height: 50px;

                            & span.dimension-indicator { visibility: hidden; }
                        }
                        /* Position language link. */
                        & a[href^="#language-"] {
                            position: absolute;
                            top: 10px;
                            right: 70px;
                        }
                    }

                    & div.navbar-collapse {
                        & > div.navbar-highlighter { visibility: hidden; }

                        & ul.nav.navbar-nav {
                            margin-top: 10px;
                            margin-bottom: 10px;

                            & li.active > a:hover,
                            & li.active > a:focus,
                            & li.active > a {
                                background-color: var(--shadow-color);
                            }
                        }
                    }
                }
            }
        }
    }
    /*** endregion */
    /*** region carousel */
    /* Define main content size. */
    & section.carousel.slide div.carousel-inner > div.item {
        /* Don't show any background image in smartphone mode. */
        & div.backstretch { display: none; }

        & div[class^="carousel-image-"] > div.container {
            padding-bottom: 15px;
            max-width: 540px;

            & h1 { font-size: 2.5em; }

            & > p {
                font-size: 1.2rem;
                line-height: 1.4;
            }
        }
    }
    /*** endregion */
    /*** region section */
    /**** region about */
    & section.carousel.slide div.carousel-inner > div.item div.carousel-image-about > div.container {
        padding-top: 90px;

        & h1#about { margin-top: -var(--top-margin); }

        & p.lead > a:first-child { margin-top: 35px; }
    }
    /**** endregion */
    /**** region about this web site */
    & section.about-this-website {
        padding-bottom: 15px;
        /* Wraps the text content, positions space around them. */
        & > div.container { margin-left: 10%; }

        & div[class^="carousel-image-"] > div.container h1 {
            font-size: 2.5em;
        }
    }
    /**** endregion */
    /*** endregion */
    /** endregion */
    /** region extra extra small */
    @media (--extra-extra-small) {
        /** region navigation bar */
        /* Show current dimension mode in indicator dom node. */
        & header.navbar-wrapper > div.container div.navbar.navbar-inverse > div.container div.navbar-header a.navbar-brand {
            max-width: 238px;

            & span.dimension-indicator { visibility: visible; }
        }
        /** endregion */
        /** region carousel */
        & section.carousel.slide div.carousel-inner > div.item {
            &.about div[class^=carousel-image-] > div.container > p {
                font-size: 1.6rem;
            }

            & div[class^="carousel-image-"] > div.container {
                padding-bottom: 25px;
            }
        }
        /** endregion */
        /** region section */
        & section.about-this-website { padding-bottom: 25px; }
        /*** region about */
        & section.carousel.slide div.carousel-inner > div.item div.carousel-image-about > div.container p.lead > a:first-child {
            margin-top: 50px;
        }
        /*** endregion */
        /** endregion */
        /** region small */
        @media (--small) {
            /* Bigger devices get a scroll top button. */
            & a[href="#top"] { visibility: visible; }
            /* region navigation bar */
            /*
                Normal Wrapper for the main navigation bar. Scrolls with
                viewport.
            */
            & header.navbar-wrapper > div.container {
                max-width: 550px;

                & div.navbar.navbar-inverse {
                    background: var(--background-color);

                    & > div.container {
                        & div.navbar-header {
                            & button.navbar-toggle {
                                display: none !important;
                            }

                            & a {
                                &[href^="#language-"] {
                                    position: absolute;
                                    top: 12px;
                                    right: 10px;
                                }

                                &.navbar-brand {
                                    padding-right: 30px;
                                }
                            }
                        }

                        & div.navbar-collapse {
                            display: inline;

                            & div.navbar-highlighter {
                                position: absolute;
                                left: 177px;
                                visibility: visible;
                                border-top: 2px solid var(--link-color);
                                height: 50px;
                                width: 124px;
                                background-color: #eee;
                            }

                            & > ul.nav.navbar-nav {
                                margin: 0;
                                /*
                                    Bring menu items to same height as
                                    navigation bar branding.
                                */
                                & > li {
                                    & > a {
                                        line-height: 22px;
                                        color: var(--menu-color);
                                    }

                                    & > a:hover,
                                    a:focus {
                                        background-color: transparent;
                                        color: var(--menu-hover-color);
                                    }
                                }

                                & li.active > a:hover,
                                & li.active > a:focus,
                                & li.active > a {
                                    background-color: transparent;
                                    color: var(--menu-hover-color);
                                }
                            }
                        }
                    }
                }
            }
            /* endregion */
            /* region carousel */
            & section.carousel.slide div.carousel-inner > div.item {
                & > div {
                    /* Show any background image on higher resolutions. */
                    &.backstretch { display: block; }
                    /* Bump up size of carousel content. */
                    &[class^="carousel-image-"] {
                        background-repeat: no-repeat;
                        background-size: auto 100%;
                        background-position: center;

                        & > div.container {
                            padding-top: 0;
                            padding-bottom: 50px;
                            max-width: 600px;

                            & h1 { font-size: 4.5em; }

                            & > p.lead {
                                font-size: 1.5em;
                                line-height: 1.4;
                                margin-top: 10px;
                            }
                        }
                    }
                    /* Show background images on bigger devices. */
                    &.carousel-image-about {
                        background-image: url('image/carousel/about-440x686-pixels.png');
                    }
                }
            }
            /* endregion */
            /* region section */
            & > section {
                &.about-this-website {
                    padding-bottom: 50px;

                    & div[class^="carousel-image-"] > div.container {
                        width: 608px;

                        & h1 { font-size: 4.5em; }
                    }
                }

                &.carousel.slide div.carousel-inner > div.item > div {
                    &.carousel-image-about > div.container {
                        position: relative;
                        margin-top: var(--top-margin);

                        & > p.lead {
                            position: absolute;
                            right: -38px;
                            width: 300px;
                            text-align: right;

                            & a {
                                display: block;
                                margin-top: 30px;
                            }
                        }
                    }

                    &.carousel-image-work > div.container > p {
                        margin-top: 25px;
                    }
                }
            }
            /* endregion */
            /* region medium */
            @media (--medium) {
                /* region navigation bar */
                /*
                    Normal Wrapper for the main navigation bar. Scrolls with
                    viewport.
                */
                & header.navbar-wrapper > div.container { max-width: 600px; }
                /* endregion */
                /* region carousel */
                & section.carousel.slide div.carousel-inner > div.item > div {
                    &[class^="carousel-image-"] > div.container {
                        max-width: 810px;

                        & > dl.dl-horizontal {
                            & > dt { width: 286px; }

                            & > dd {
                                margin-top: 15px;
                                margin-left: 335px;
                            }
                        }
                    }

                    &.carousel-image-about > div.container > p.lead {
                        right: 0;
                    }
                }
                /* endregion */
            }
            /* endregion */
        }
        /** endregion */
    }
    /** endregion */
    /* endregion */
}
/* endregion */
/* region vim modline
vim: set tabstop=4 shiftwidth=4 expandtab:
vim: foldmethod=marker foldmarker=region,endregion:
endregion */
