/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/*
region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stands under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion
*/
@import 'bootstrap-icons/font/bootstrap-icons';

@import 'swiper/swiper.css';
@import 'swiper/modules/a11y.css';
@import 'swiper/modules/hash-navigation.css';
@import 'swiper/modules/navigation.css';
@import 'swiper/modules/pagination.css';

@import 'website-utilities/fonts.compiled.css';
@import 'website-utilities/index.compiled.css';

:root {
    /* region custom-properties */
    /** region color */
    --background-color: #222;
    --header-background-color: var(--background-color);
    --font-color: #5a5a5a;
    --surface-color: #f2f2f2;
    --accent-color: #f88;

    --link-color: var(--accent-color);
    --link-hover-color: #f66;

    --menu-font-color: #e8dede;
    --menu-font-hover-color: #ffffff;

    --shadow-color: rgba(0, 0, 0, 0.4);

    --swiper-theme-color: var(--accent-color);
    /** endregion */
    /** region space */
    --header-height: 60px;
    --footer-height: 80px;

    --minimum-content-height: 300px;
    --maximum-content-height: 1400px;
    --maximum-content-width: 800px;
    /** endregion */
    /** region custom media queries */
    /*** region extra small dimension */
    @custom-media --w-extra-extra-small (min-width: 360px);
    @custom-media --w-extra-small (min-width: 500px);
    /*** endregion */
    /*** region default media query dimensions */
    @custom-media --w-small (min-width: 768px);
    @custom-media --w-medium (min-width: 992px);
    @custom-media --w-large (min-width: 1200px);
    /*** endregion */
    /** endregion */
    /* endregion */
}
html, body {
    background-color: var(--background-color);
    color: var(--font-color);

    margin: 0;

    font-size: 16px;
}

home-page {
    /* region global */
    overflow-y: scroll;
    /** region headline */
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--w-typography-font-family-headline);
    }
    /** endregion */
    /** region link */
    a,
    a:visited,
    a:focus {
        color: var(--link-color);
        font-size: 1.2rem;
        text-decoration: none !important;

        &:hover { color: var(--link-hover-color); }

        &.wu-scroll-to-top {
            --bottom: calc(var(--footer-height) / 2 - 1rem + 5px);

            font-size: 1rem;
            visibility: hidden;
            bottom: var(--bottom);
            right: 60px;
            z-index: 4;

            &.wu-scroll-up {
                bottom: var(--footer-height);
            }

            &.wu-scroll-down {
                bottom: var(--bottom);
            }

            @media (--w-extra-extra-small) {
                @media (--w-extra-small) {
                    @media (--w-small) {
                        /* Bigger devices get a scroll top button. */
                        visibility: visible;
                    }
                }
            }
        }
    }
    /** endregion */
    strong { font-weight: bold; }
    lang-replacement, .wi-hide {
        display: none;
    }
    /* endregion */
    /* region header */
    /* Normal Wrapper for the main navigation bar. Scrolls with viewport. */
    .hp-header {
        display: grid;
        place-items: center;

        height: var(--header-height);

        position: fixed;
        z-index: 10;
        right: 0;
        left: 0;
        top: 0;

        z-index: 2;

        /* region headroom */
        &.headroom {
            /*
                Slide effect

                will-change: transform;
                transition: transform 200ms linear;
            */
            /* Fold effect */
            animation-duration: .5s;
            animation-fill-mode: both;
            will-change: transform, opacity;
        }

        &.headroom--pinned {
            /* Slide effect: transform: translateY(0%); */
            /* Fold effect: */
            transform-origin: top;
            backface-visibility: visible !important;
            animation-name: swingInX;
        }

        &.headroom--unpinned {
            /* Slide effect: transform: translateY(-100%); */
            transform-origin: top;
            backface-visibility: visible !important;
            animation-name: swingOutX;
        }

        @keyframes swingInX {
            0% {
                transform: perspective(400px) rotateX(-90deg)
            }

            100% {
                transform: perspective(400px) rotateX(0deg)
            }
        }

        @keyframes swingOutX {
            0% {
                transform: perspective(400px) rotateX(0deg)
            }

            100% {
                transform: perspective(400px) rotateX(-90deg)
            }
        }
        /* endregion */
        .hp-header__center {
            background-color: var(--header-background-color);

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            box-shadow: 0 10px 30px var(--shadow-color);

            box-sizing: border-box;

            height: 100%;
            width: 100vw;

            padding: 0 var(--w-default-space);

            @media (--w-extra-extra-small) {
                @media (--w-extra-small) {
                    @media (--w-small) {
                        @media (--w-medium) {
                            border-radius: 0 0 5px 5px;

                            width: var(--maximum-content-width);
                        }
                    }
                }
            }

            a,
            a:visited,
            a:focus {
                color: var(--menu-font-color);
                font-size: 1.2em;
                padding: 1rem;

                &:hover {
                    color: var(--menu-font-hover-color);
                }

                &[href^="#lang-"] {
                    margin-left: 3rem;
                }
            }

            nav ul {
                margin: 0;
                padding: 0;

                a.wu-priority-navigation__link--active,
                a.wu-priority-navigation__link--active:hover {
                    color: var(--menu-font-hover-color);

                    &::after {
                        border-bottom: 2px solid var(--accent-color);
                    }
                }
            }
        }
        .wu-priority-navigation {
            width: 100%;

            .wu-priority-navigation__list__overflow-indicator__title {
                color: var(--menu-font-color);
            }
        }
    }
    /* endregion */
    /* region section */
    .hp-section {
        background-color: var(--surface-color);

        overflow: hidden;
        position: relative;

        .swiper-button-prev,
        .swiper-button-next {
            position: fixed;
            top: 30%;
            transform: translateY(-50%);
        }
        .swiper-button-disabled {
            display: none;
        }

        .hp-section__swiper-wrapper {
            .hp-section__swiper-wrapper__slide {
                background-color: var(--surface-color);

                display: flex;
                justify-content: center;

                /*
                    Set a default content height. Could by vary depending on
                    currently activated section.
                */
                min-height: var(--minimum-content-height);

                [class^="hp-section__swiper-wrapper__slide__image-"] {
                    background-repeat: no-repeat;
                    background-size: auto 70%;
                    background-position: left center;

                    @media (--w-extra-extra-small) {
                        display: block;

                        @media (--w-extra-small) {
                            @media (--w-small) {
                                @media (--w-medium) {
                                    background-position: center;
                                }
                            }
                        }
                    }
                }

                .hp-section__swiper-wrapper__slide__center {
                    text-align: center;

                    padding-top: var(--header-height);
                    padding-bottom: var(--header-height);

                    @media (--w-extra-extra-small) {
                        width: var(--maximum-content-width);
                    }

                    h1 {
                        font-size: 2.5em;

                        @media (--w-extra-extra-small) {
                            @media (--w-extra-small) {
                                @media (--w-small) {
                                    font-size: 4.5em;
                                }
                            }
                        }
                    }

                    p {
                        font-size: 1.2rem;
                        line-height: 1.4;
                    }

                    @media (--w-extra-extra-small) {
                        .lead {
                            > a:first-child {
                                margin-top: 50px;
                            }

                            @media (--w-extra-small) {
                                @media (--w-small) {
                                    font-size: 1.5em;
                                    line-height: 1.4;
                                    margin-top: 10px;
                                }
                            }
                        }

                        @media (--w-extra-small) {
                            @media (--w-small) {
                                max-width: 600px;

                                @media (--w-medium) {
                                    max-width: 810px;

                                    dl.dl-horizontal {
                                        dt {
                                            width: 286px;
                                        }

                                        dd {
                                            margin-top: 15px;
                                            margin-left: 335px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.about-me {
                    max-height: var(--maximum-content-height);

                    .hp-section__swiper-wrapper__slide__center {
                        padding-top: var(--header-height);

                        .lead > a:first-child {
                            margin-top: 35px;
                        }

                        @media (--w-extra-extra-small) {
                            position: relative;

                            max-width: 600px;

                            .lead {
                                position: absolute;
                                right: -38px;
                                width: 300px;

                                text-align: right;
                                font-size: 1.5em;
                                line-height: 1.4;
                                margin-top: 10px;

                                a {
                                    display: block;
                                    margin-top: 30px;
                                }

                                @media (--w-medium) {
                                    right: 0;
                                }
                            }
                        }
                    }

                    @media (--w-extra-extra-small) {
                        height: calc(100vh - var(--header-height));
                        padding-top: var(--header-height);

                        p {
                            font-size: 1.6rem;
                        }

                        /* Show background images on bigger devices. */
                        .hp-section__swiper-wrapper__slide__image-about-me {
                            background-image: url('image/carousel/about-me-440x686-pixels.png');
                        }
                    }
                }

                &.contact .hp-section__swiper-wrapper__slide__center__social-links a {
                    font-size: 2rem;
                    color: var(--font-color);
                    margin: 0 8px;

                    &:hover {
                        color: var(--link-hover-color);
                    }
                }

                &.work {
                    .hp-section__swiper-wrapper__slide__center {
                        @media (--w-extra-extra-small) {
                            @media (--w-extra-small) {
                                @media (--w-small) {
                                    p {
                                        margin-top: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* endregion */
    /** region about this web site */
    /* Wraps the legal notice content. */
    .about-this-website {
        display: grid;
        justify-content: center;

        background-color: var(--surface-color);
        top: 0;
        left: 0;
        width: 100%;

        padding-bottom: 15px;

        &.wu-section-inactive {
            display: none;
        }
        /* Wraps the text content, positions space around them. */
        .about-this-website__center {
            h1 {
                font-size: 2.5em;

                @media (--w-extra-extra-small) {
                    @media (--w-extra-small) {
                        @media (--w-small) {
                            font-size: 4.5em;
                        }
                    }
                }
            }

            @media (--w-extra-extra-small) {
                @media (--w-extra-small) {
                    @media (--w-small) {
                        width: 608px;
                    }
                }
            }
        }

        @media (--w-extra-extra-small) {
            padding-bottom: 25px;

            @media (--w-extra-small) {
                @media (--w-small) {
                    padding-bottom: 50px;
                }
            }
        }
    }
    /** endregion */
    /* region footer */
    footer {
        display: grid;
        place-items: center;

        height: var(--footer-height);
        width: 100%;

        a {
            font-size: 1rem;
        }
    }
    /* endregion */
}
